pandas==0.25.0
nibabel==3.1.0
efficientnet==1.1.0
scikit_image==0.15.0
tqdm==4.46.0
git+https://github.com/raghakot/keras-vis
keras_tuner==1.0.1
opencv_python==4.2.0.34
matplotlib==3.2.1
numpy==1.17.0
Keras==2.3.1
tensorflow-gpu==2.0.0
deepstack==0.0.9
Pillow==7.2.0
scikit_learn==0.23.2
tensorflow==2.0
